<!--    <div class="news-letter-section text-center">
        <div class="title">
            Newsletter
        </div>
        <div class="descreption">
            Inscrivez-vous à notre newsletter pour recevoir toutes nos offres exclusives.
        </div>
        <div class="form">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-5">
                    <form action="">
                        <div class="d-flex ">
                         <input type="email" name="email" class="news-letter-form-input form-control mx-3" placeholder="Votre adresse e-mail">
                         <button class="btn btn-theme d-inline">S'inscrire</button>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </div>-->